:root {
    --primary: #3065ac;
    --bg: #15171b;
    --bg2:#1b1e23;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration:none;
  }

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #ffffff;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #1b1e23;
    border-bottom: 1px var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .navbar img{
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
  }

  .navbar .navbar-logo {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
  }

  .navbar .navbar-logo span {
      color: var(--primary);
  }

  .navbar .navbar-nav a {
      color: #fff;
      display: inline-block;
      font-size: 1.2rem;
      margin: 0 1rem;
  }

  .navbar .navbar-nav a:hover {
      color: var(--primary);
  }

  .navbar .navbar-nav a::after {
      content: "";
      display: block;
      padding-bottom: 0.5rem;
      border-bottom: 0.1rem solid var(--primary);
      transform: scaleX(0);
      transition: 0.2s linear;
  }

  .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.5);
  }

  .navbar .navbar-extra a {
      color: #fff;
      margin: 0 0.5rem;
      text-decoration: none;
  }

  .navbar .navbar-extra a:hover {
      color: var(--primary);
  }

  #hamburger-menu {
      display: none;
  }

.container{
    color: var(--bg2);
    background-color: white;
    width: 90%;
    text-align: center;
}

.tabelInventaris{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th{
    color: var(--bg);
    background-color: var(--bg);
}

.table-header{
color: whitesmoke;
background-color: var(--bg);
}

.alphabet-header{
color: whitesmoke;
background-color: var(--bg);
}

.container table {
    border-spacing: 1;
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}


table td,table th {
    padding-left: 8px;
    text-align: left;
}

table thead tr {
    height: 60px;
    background: var(--bg2);
}

table tbody tr {
    height: 50px;
}

table tbody tr {
    border: 0
}


.table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr {
    font-size: 15px;
    color: var(--bg2);
    line-height: 1.2;
    font-weight: unset
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.input-box {
    display: flex;
    position: relative;
    height: 40px;
    max-width: 20rem;
    width: 100%;
    background: white;
    margin: 0 20px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.input-box i,
.input-box .button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 2.4rem;
    font-size: 24px;
    color: #707070;
}

.input-box input {
    height: 100%;
    flex: 1;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 120px 0 40px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.input-box .button {
    right: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: var(--primary);
    cursor: pointer;
    display: none;
}

.input-box .button:active {
    transform: translateY(-50%) scale(0.98);
}

/* page login */
.loginForm{
    padding: 10rem 7% 3rem;
}
.containerLogin {
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 868px;
    height: 600px;
    max-width: 100%;
    min-height: 522px;
    min-width: 370px;
}

.card-container {
    display: flex;
}


.left {
    flex: 1;
    height: 480px;
    background-color: var(--bg2);
}

.right {
    display: flex;
    flex: 1;
    height: 460px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex: 1;
    height: 600px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.left-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px
}

.left p {
    font-size: 0.9rem;

}

.left-container img{
    width: 10rem;
    height: 13rem;
    margin-bottom: 1rem;

}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.right-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--bg2);
}

button {
    border-radius: 20px;
    background-color: var(--bg2);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary);
}

textarea {
    height: 90px;
}

.formLogin{
    padding-top: 9rem;
    margin-bottom: 2rem;
}

.formLogin input , .right-container input{
    font-size: 14px;
}

.formLogin h1{
    color: black;
    display: flex;
    margin-bottom: 15px;

}

/* page admin */
.tombolTambah {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #b3fd96;
    color: black;
    border: none;
    cursor: pointer;
    float: right;
}

#editButton{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #ffeb8a;
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#hapusButton{
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #e92d2d;
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/* Modal Style */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    color: var(--bg);
    margin: 5% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    border-radius: 8px;
    width: 80%;
    animation: animateboxModal 0.9s;
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 24px;
    cursor: pointer;
  }

  @keyframes animateboxModal {
    from {
      top: -300px;
      opacity: 0;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }

#formTambahBarang,
#formEditBarang,
#formHapusBarang {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

#formTambahBarang input,
#formEditBarang input {
    background-color: whitesmoke;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#formTambahBarang label,
#formEditBarang label {
    font-weight: bold;
}

#formTambahBarang button,
#formEditBarang button,
#formHapusBarang button {
    width: 100%;
    background-color: var(--primary);
    color: var(--bg);
    margin-top: 2.4rem;
    padding: 1rem 1.6rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

  #formTambahBarang button:hover,
  #formEditBarang button:hover {
    background-color: var(--bg2);
  }



/* sort */
.table thead th{cursor:pointer}.table thead th:after{padding-left:7px}.table thead th[data-sort-direction="0"]:after{content:"\21D5"}.table thead th[data-sort-direction="1"]:after{content:"\25B4"}.table thead th[data-sort-direction="-1"]:after{content:"\25BE"}.table.sortable-fa-icons thead th:after{font-family:FontAwesome}.table.sortable-fa-icons thead th[data-sort-direction="0"]:after{content:"\f0dc"}.table.sortable-fa-icons thead th[data-sort-direction="1"]:after{content:"\f0de"}.table.sortable-fa-icons thead th[data-sort-direction="-1"]:after{content:"\f0dd"}
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    /* text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5); */
    background-color: rgba(255, 255, 255, 0.459);
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block; /*agar tulisan turun kebawah*/
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .input-box {
      max-width: 50%;
      margin: 0 10px;
      padding-bottom: 1rem;
    }

    .input-box i {
        left: 2.9rem;
    }

    .input-box input {
        padding: 0 100px 0 30px; /* Adjust padding for smaller screens */
    }

    .input-box .button {
        right: 5px;
        padding: 8px 20px;
        font-size: 14px;
    }
}

/* mobile */
@media (max-width: 450px) {
    html {
    font-size: 54%;
  }
}